<h1>Criar tarefa</h1>

<form class="form" action="/tasks/add" method="POST">
    <div class="form-control">
        <label class="form__label" for="title">Titulo:</label>
        <input class="form__input" type="text" name="title" placeholder="Digite o título da tarefa">
    </div>
    <div class="form-control">
        <label class="form__label" for="description">Descrição:</label>
        <input class="form__input" type="text" name="description" placeholder="Digite a descrição">
    </div>
    <input class="form__submit" type="submit">
</form>